name: Java CI with Maven

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    permissions:
      checks: write
      contents: write

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'oracle'
          cache: maven
      - name: Check formatting
        run: mvn spring-javaformat:validate

      - name: Build Maven projects
        run: mvn -B package --file pom.xml -DskipTests

      - name: Run unit tests
        run: mvn --batch-mode test

      - name: Run integration tests
        run: mvn --batch-mode verify -DskipUnitTests

      - name: Publish surefire results
        if: success() || failure()
        uses: scacap/action-surefire-report@v1
        with:
          report_paths: '**/target/surefire-reports/TEST-*.xml'

      - name: Publish failsafe results
        if: success() || failure()
        uses: scacap/action-surefire-report@v1
        with:
          report_paths: '**/target/failsafe-reports/TEST-*.xml'